<%= devise_error_messages! %>

<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="account-form thumbnail">
			<h1>
				Forgot your password?
			</h1>

			<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :class => "form-vertical", :html => { :method => :post }) do |f| %>
			<div class="form-group">
				<%= f.label :email, :'for' => "email" %>
				<%= f.email_field :email, :autofocus => true, :class => "form-control", :placeholder => "Enter email" %>
				
			</div>

			<hr>

      <div class="form-group">
        <div class="controls">
						<div><%= f.submit "Send me", :class=>"btn btn-primary pull-right" %></div>
					<% end %>
        </div>
      </div>

		</div>

		<div class="account-extras">
			<%= render "devise/shared/links" %>
		</div>
	</div>
</div>